@import './../../breakpoints.scss';
@import './../../colors.scss';

.trails-console {

  background: $blue;
  border: 4px solid $white;
  border-radius: 12px;
  max-width: 720px;
  margin: 1em auto 0 auto;
  color: $light-gray;
  overflow-x: scroll;

  @media screen and (min-width: $breakpoint-tablet) {
    margin: -3em auto 0 auto;
  }

}
