@import './../../breakpoints.scss';
@import './../../colors.scss';

.trails-header {
  background: white;
  min-height: 48px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    & {
      min-height: 72px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trails-logo {
    height: 36px;
    display: block;
  }

  ul {
    li {
      list-style-type: none;

      a {
        font-size: 18px;
        font-weight: 300;
        word-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $green;

        &:hover {
          color: $dark-green;
        }

      }
    }
  }

  #menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: $blue url(img/menu-icon.png);
    &:hover {
      background-color: $green;
    }

  }

  @media screen and (min-width: $breakpoint-tablet) {
    ul {
      margin: 0 -1em;

      li {
        margin: 0 1em;
        display: inline;
      }
    }
  }

  @media screen and (max-width: $breakpoint-phone) {
    #menu-icon {
      display: inline-block;
      margin-bottom: -3px;
    }

    nav ul, nav:active ul {
      display: none;
      position: fixed;
      padding: 1em;
      background: #fff;
      top: 36px;
      right: 4px;
      border-radius: 4px;
    }

    nav li {
      text-align: left;
      width: 100%;
      padding: 10px 0;
      margin: 0;
    }

    nav:hover ul {
      display: block;
    }

  }

}
