@import './../../breakpoints.scss';
@import './../../colors.scss';

.trails-more-features {

  padding: 1em 0;
  background: $lighter-gray;

  h2 {
    text-align: center;
  }

  .trails-more-features-content {
    display: flex;
    flex-wrap: wrap;

    .trails-other-feature {
      margin-bottom: 1em;
      line-height: 1.5em;

      @media screen and (min-width: $breakpoint-phone) {
        flex: 0 1 auto;
        width: 33%;
        padding: 0 1em;
      }

    }

  }

}
