@import '../../breakpoints.scss';
@import '../../colors.scss';

.trails-splash {

  background: $green;
  background-image: url('img/trees-and-rivers.svg'),
                    linear-gradient(
                    $green,
                    $green 0%,
                    $blue 95%);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    @media screen and (min-width: $breakpoint-tablet) {
      padding-top: 3em;
      padding-bottom: 5em;
    }
  }

	.ribbon {
		top: auto;
		font-family: "open sans";
		&:before, &:after {
			background-color: $brown;
      font-weight: 300;
      font-size: 13px;
		}
		&:hover {
			opacity: 0.95;
		}
	}

  .trails-logo {
    max-width: 240px;
    @media screen and (min-width: $breakpoint-phone) {
      max-width: 400px;
      margin-bottom: 1em;
    }
  }

  .trails-splash-description {
    text-align: center;
    color: white;
    font-weight: 100;
    @media screen and (min-width: $breakpoint-phone) {
      font-size: 2.5em;
      max-width: 640px;
    }
  }

  .trails-splash-button-tray {
    display: flex;
    flex-direction: column;
    button {
      background-color: $blue;
      margin-bottom: .5em;
      cursor: pointer;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 -1em;
      button {
        margin: 0 1em;
      }
    }
  }

}
