@import './../../breakpoints.scss';
@import './../../colors.scss';

.trails-splash {

  background: $green;
  background-image: url('/dist/fonts/trees-and-rivers.svg'),
                    linear-gradient(
                    $green,
                    $green 25%,
                    $blue);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    @media screen and (min-width: $breakpoint-tablet) {
      padding: 6em 0;
    }
  }

  .trails-logo {
    max-width: 240px;
    @media screen and (min-width: $breakpoint-phone) {
      max-width: 400px;
      margin-bottom: 2em;
    }
  }

  .trails-splash-description {
    text-align: center;
    color: white;
    font-weight: 100;
    @media screen and (min-width: $breakpoint-phone) {
      font-size: 2.25em;
      max-width: 540px;
    }
  }

  .trails-splash-button-tray {
    display: flex;
    flex-direction: column;
    button {
      margin-bottom: .5em;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 -1em;
      button {
        margin: 0 1em;
      }
    }
  }

}
