/*

  TrailsJS Colors

*/

$brown: #3D3A31;
$light-brown: #BBBAB7;
$yellow-green: #D3E49C;
$green: #63A87B;
$dark-green: darken($green, 10%);
$blue: #3A5566;

$white: #ffffff;
$lighter-gray: #F9F9F9;
$light-gray: #CCCCCC;
$gray: #808080;
